.trip {
  width: 100%;
  height: 100vh;

  &__wrapper {
    height: 100%;
  }

  &__form {
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url("../../../assets/img/layout_a.jpg");
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__form-box {
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
  }

  &__form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
  }
}
