<div class="trip">
  <div class="trip__wrapper row">

    <div class="trip__form col-6">
      <div class="trip__form-box">
        <form class="trip__form-element" action="">
          <div class="trip__form-group">
            <div class="form-floating">
              <input type="text" class="form-control" id="stpt" placeholder="Mumbai">
              <label for="stpt">Starting Point</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="enpt" placeholder="Delhi">
              <label for="enpt">Ending Point</label>
            </div>
            <button type="button" class="btn btn-outline-primary btn-cust">+</button>
          </div>
        </form>
      </div>
    </div>

    <div class="trip__graph col-6">
      <!-- Graph or visual content here -->
    </div>

  </div>
</div>
